body {
  margin:0;
  padding:0;
  background: white;
  color: black;
  text-align: center;
}
header {
  background: black;
  color: green;
}
nav {
  background: black;
  display: none;
  font-family: arial;
}
nav a {
  padding: 1em;
  display: block;
}
#menu {
  padding: 1em;
  background: black;
  display: block;
  font-family: arial;
}
.show-menu {
  display: block;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
  background: black;
  color: green;
  font-family: arial;
}
main {
  background: white;
  padding: .5em;
  font-family: arial;
}
footer{
	font-family: arial;
	font-size: 0.5em;
}

/*Breakpoint 1 - medium */
@media screen and (min-width: 500px) {
  header {
    background: black;
    color: green;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: green;
  }
  .active{
	color: white;
	background: green;
}
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: white;
    color: white;
  }
  section:hover {
    background: green;
  }
}
/* breakpoint 2 - normal */
@media screen and (min-width: 1000px) {
  header {
    background: black;
    color: white;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: black;
    border-color: green;
    font-size: 1.5em;
  }

}

table{
  text-align: center;
  font-family: arial;
  width: 100%
}
table.center{
  margin-left: auto;
  margin-right: auto;
}

table tr:nth-child(even){
  background-color: #eee;
}
#animateballs{
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

#animateballs img{
  position: absolute;
  left: 0;
  width: 200px;
  height: 200px;
}

@keyframes animateballsFadeInOut {
  0%{
    opacity: 1;
  }
  45%{
    opacity: 1;
  }
  55%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

#animateballs img.top{
  animation-name: animateballsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

#map{
  height: 400px;
  width: 100%;
}
